* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    row-gap: 50px;


}

/* ===============header start========= */
header {
    grid-area: header;
    background-color: #0a6344;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;

}

.content-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phic-logo {
    width: 50px;
    height: 50px;
}

.phar-logo {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 2px 1px blue;
    text-transform: uppercase;
}

.nav-link {}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link li {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link li:hover{
    width: 150px;
    height: 50px;
    box-shadow: 0 4px 6px #aaffd8;
    border-radius: 16px;
    
}

.link li .phar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.login-btn,
.signin-btn {
    width: 100px;
    height: 50px;
    border-radius: 16px;
    border: none;
    background-color: #aaffd8;
}

.phar-login,
.phar-signin {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* =============header End============== */



/* ====================main start=============== */
main {
    grid-area: main;
    background-color: #aaffd8;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr;
    grid-area:

}


/* ===============left start=============== */
.left {
    background-color: #aaffd8;
}
.hero-s{
    width: 100%;
    height: auto;
    margin:20px;
}
.phar-s{
    display: block;
    line-height: 4rem;
}
.s1-phar-h2{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.s1-phar-h3{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.s1-phar-h4{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.s1-phar-h2, .s1-phar-h3, .s1-phar-h4 {
    color:black;
    /* text-shadow: 2px 4px 2px white; */
}
.btn-social{

}
.btn-s{
    width: 180px;
    height: 60px;
    border-radius: 16px;
    border:1px solid #0a6344;
}

.phar-s{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    
    
}


.social{
    display: flex;
    justify-content:start;
    align-items: center;
    gap:16px;

}
.social-icon{
    width: 45px;
    height: 45px;
    margin-top: 20px;
}
/* ===================left End================ */



/* ================right start================ */
.right {
    background-color: #aaffd8;
    
}
.right-image{
    width: 350px;
    height: 400px;
    margin:20px;
}
/* ==================right End================== */


/* =====================content2 start============= */
.content2{
    background-color:#aaffd8;
}
.info{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:1fr;
    justify-content: center;
    align-content: center;
    
}
.card{
    width: 200px;
    height: 300px;
    background-color: white;
    margin-left: 50px;
    box-shadow: 4px 6px 4px #0a6344;
    border-radius: 16px;
    
    
    
}
.im{
    width: 100%;
    height: 170px;
 
    
}
.card-img{
    width: 100px;
    height: 100px;
    margin:45px;
}
.phar{
    margin-top: 0;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-btn{
    width: 100px;
    height: 35px;
    /* border:1px solid forestgreen;
    border-radius: 16px; */
    margin-left:15px;
}
.a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* =================content2 End================== */



/* =================main End====================== */






/* =============footer start=============== */
footer {
    grid-area: footer;
    background-color: #0a6344;
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-footer {
    display: block;
    justify-content: center;
    align-content: center;
}

.center-footer {
    display: block;
    justify-content: center;
    align-content: center;
}

.right-footer {
    display: block;
    justify-content: center;
    align-content: center;
}



.link-footer {
    padding: 10px;
}

.link-footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
}
.link-footer li:hover{
    box-shadow: 0 4px 6px #aaffd8;
    border-radius: 16px;
}

.link-footer li a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
}
/* ============footer End================ */